<div class="grid wrapper">

    <div class="controls">

        <div class="left-button">&lt;</div>

        <div class="title">
            <app-decorated-text 
                [text]="header"
                [decoratedStyle]="{ 'font-size': '1.125rem', 'color': '#cccccc' }"
                [wordStyle]="{ 'font-size': '1.125rem', 'color': '#777777' }"
            ></app-decorated-text>
        </div>

        <div class="right-button">&gt;</div>

    </div>

    <div class="body">
        YOYOYO!
    </div>


</div>