// Shades
$shade-0: #434343;
$shade-1: #999999;
$shade-2: #cccccc;
$shade-3: #efefef;
$shade-4: #ffffff;


// Colors
$base-color: #4a86e8;
$color-0: #1c4587;
$color-1: #1155cc;
$color-2: #3c78d8;
$color-3: #6d9eeb;
$color-4: #a4c2f4;
$color-5: #c9daf8;
